{% extends "base.html" %}
{% load static %}

{% block title %}Main{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "rooms/base.css" %}">
{% endblock css_files %}

{% block content %}

{% if has_rooms %}
<div class="floor-selector-container">
    <form method="GET" action="{% url 'floor-selector' %}" class="floor-form">
        {% csrf_token %}
        <label for="floor" class="floor-label">Выберите этаж:</label>
        <select name="floor" id="floor" class="floor-select">
            {% for floor in floors %}
                <option value="{{ floor }}" {% if floor == selected_floor %}selected{% endif %}>
                    {{ floor }} этаж
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="floor-submit-btn">Показать</button>
    </form>
</div>

<!-- Легенда -->
<div class="legend-container">
  <div class="legend-item">
    <div class="legend-color-box legend-empty"></div> Свободная комната
  </div>
  <div class="legend-item">
    <div class="legend-color-box legend-partial"></div> Частично занятая
  </div>
  <div class="legend-item">
    <div class="legend-color-box legend-full"></div> Полностью занятая
  </div>
</div>
<div class="room-tiles-container">
    <div class="room-plan-grid">
        {% for room in rooms %}
            <a href="{% url 'room-detail' room.number %}" class="room-tile room-{{ room.occupancy_status }}">
                <div class="tile-header">
                    №{{ room.number }}
                </div>
                <div class="tile-body">
                    <div class="tile-item"><strong>Цена:</strong> {{ room.price }} ₴</div>
                    <div class="tile-item"><strong>Мест:</strong> {{ room.capacity }}</div>
                    <div class="tile-item"><strong>Занято:</strong> {{ room.occupied_slots }}</div>
                    <div class="tile-item"><strong>Свободно:</strong> {{ room.free_slots }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>


{% else %}
<div class="rooms-list-container">
    <p class="no-rooms-msg">Ни одной комнаты не обнаружено.</p>
</div>
{% endif %}

{% endblock content %}
